Hospital/Personal.Health.Record/Service References/HospitalReference/HospitalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HospitalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3213/HospitalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3213/HospitalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3213/HospitalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hospital.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHospitalService_getPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:getPatient" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getUserByUsernameAndPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserByUsernameAndPassword" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getUserByUsernameAndPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserByUsernameAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getUserByEGNAndPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserByEGNAndPassword" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getUserByEGNAndPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserByEGNAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_AddNewPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPatient" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_AddNewPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getHospital_InputMessage">
    <wsdl:part name="parameters" element="tns:getHospital" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getHospital_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHospitalResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:getDoctor" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getDoctorByHospitalId_InputMessage">
    <wsdl:part name="parameters" element="tns:getDoctorByHospitalId" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getDoctorByHospitalId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDoctorByHospitalIdResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getAllAllergies_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllAllergies" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getAllAllergies_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllAllergiesResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_AddNewAllergy_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewAllergy" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_AddNewAllergy_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewAllergyResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getHospitalRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:getHospitalRecord" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getHospitalRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHospitalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getHospitalRecordByPatientID_InputMessage">
    <wsdl:part name="parameters" element="tns:getHospitalRecordByPatientID" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getHospitalRecordByPatientID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHospitalRecordByPatientIDResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getHospitalRecordByHospitalID_InputMessage">
    <wsdl:part name="parameters" element="tns:getHospitalRecordByHospitalID" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getHospitalRecordByHospitalID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHospitalRecordByHospitalIDResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getHospitalRecordByDoctorID_InputMessage">
    <wsdl:part name="parameters" element="tns:getHospitalRecordByDoctorID" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getHospitalRecordByDoctorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHospitalRecordByDoctorIDResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getHospitalRecordByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:getHospitalRecordByDate" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getHospitalRecordByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHospitalRecordByDateResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_addNewHospitalRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:addNewHospitalRecord" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_addNewHospitalRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNewHospitalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_GetVisitation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitation" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_GetVisitation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_GetVisitationByPatientID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationByPatientID" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_GetVisitationByPatientID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationByPatientIDResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_GetVisitationByHospitalID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationByHospitalID" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_GetVisitationByHospitalID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationByHospitalIDResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_GetVisitationByDoctorID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationByDoctorID" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_GetVisitationByDoctorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationByDoctorIDResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_GetVisitationByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationByDate" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_GetVisitationByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationByDateResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_AddNewVisitation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewVisitation" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_AddNewVisitation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewVisitationResponse" />
  </wsdl:message>
  <wsdl:portType name="IHospitalService">
    <wsdl:operation name="getPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/getPatient" message="tns:IHospitalService_getPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/getPatientResponse" message="tns:IHospitalService_getPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserByUsernameAndPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/getUserByUsernameAndPassword" message="tns:IHospitalService_getUserByUsernameAndPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/getUserByUsernameAndPasswordResponse" message="tns:IHospitalService_getUserByUsernameAndPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserByEGNAndPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/getUserByEGNAndPassword" message="tns:IHospitalService_getUserByEGNAndPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/getUserByEGNAndPasswordResponse" message="tns:IHospitalService_getUserByEGNAndPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/AddNewPatient" message="tns:IHospitalService_AddNewPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/AddNewPatientResponse" message="tns:IHospitalService_AddNewPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHospital">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/getHospital" message="tns:IHospitalService_getHospital_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/getHospitalResponse" message="tns:IHospitalService_getHospital_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/getDoctor" message="tns:IHospitalService_getDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/getDoctorResponse" message="tns:IHospitalService_getDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDoctorByHospitalId">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/getDoctorByHospitalId" message="tns:IHospitalService_getDoctorByHospitalId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/getDoctorByHospitalIdResponse" message="tns:IHospitalService_getDoctorByHospitalId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllAllergies">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/getAllAllergies" message="tns:IHospitalService_getAllAllergies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/getAllAllergiesResponse" message="tns:IHospitalService_getAllAllergies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewAllergy">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/AddNewAllergy" message="tns:IHospitalService_AddNewAllergy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/AddNewAllergyResponse" message="tns:IHospitalService_AddNewAllergy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/getHospitalRecord" message="tns:IHospitalService_getHospitalRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/getHospitalRecordResponse" message="tns:IHospitalService_getHospitalRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalRecordByPatientID">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/getHospitalRecordByPatientID" message="tns:IHospitalService_getHospitalRecordByPatientID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/getHospitalRecordByPatientIDResponse" message="tns:IHospitalService_getHospitalRecordByPatientID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalRecordByHospitalID">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/getHospitalRecordByHospitalID" message="tns:IHospitalService_getHospitalRecordByHospitalID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/getHospitalRecordByHospitalIDResponse" message="tns:IHospitalService_getHospitalRecordByHospitalID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalRecordByDoctorID">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/getHospitalRecordByDoctorID" message="tns:IHospitalService_getHospitalRecordByDoctorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/getHospitalRecordByDoctorIDResponse" message="tns:IHospitalService_getHospitalRecordByDoctorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalRecordByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/getHospitalRecordByDate" message="tns:IHospitalService_getHospitalRecordByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/getHospitalRecordByDateResponse" message="tns:IHospitalService_getHospitalRecordByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addNewHospitalRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/addNewHospitalRecord" message="tns:IHospitalService_addNewHospitalRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/addNewHospitalRecordResponse" message="tns:IHospitalService_addNewHospitalRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisitation">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/GetVisitation" message="tns:IHospitalService_GetVisitation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/GetVisitationResponse" message="tns:IHospitalService_GetVisitation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisitationByPatientID">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/GetVisitationByPatientID" message="tns:IHospitalService_GetVisitationByPatientID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/GetVisitationByPatientIDResponse" message="tns:IHospitalService_GetVisitationByPatientID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisitationByHospitalID">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/GetVisitationByHospitalID" message="tns:IHospitalService_GetVisitationByHospitalID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/GetVisitationByHospitalIDResponse" message="tns:IHospitalService_GetVisitationByHospitalID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisitationByDoctorID">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/GetVisitationByDoctorID" message="tns:IHospitalService_GetVisitationByDoctorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/GetVisitationByDoctorIDResponse" message="tns:IHospitalService_GetVisitationByDoctorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisitationByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/GetVisitationByDate" message="tns:IHospitalService_GetVisitationByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/GetVisitationByDateResponse" message="tns:IHospitalService_GetVisitationByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewVisitation">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/AddNewVisitation" message="tns:IHospitalService_AddNewVisitation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/AddNewVisitationResponse" message="tns:IHospitalService_AddNewVisitation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="HospitalService" />
</wsdl:definitions>