Hospital/Personal.Health.Record/Service References/HospitalReference/HospitalService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3213/HospitalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hospital.Models" />
  <xs:element name="getPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getPatientResult" nillable="true" type="q1:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserByUsernameAndPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserByUsernameAndPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getUserByUsernameAndPasswordResult" nillable="true" type="q2:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserByEGNAndPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="egn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserByEGNAndPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getUserByEGNAndPasswordResult" nillable="true" type="q3:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="second_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="egn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="age" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birth_date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewPatientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospital">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospitalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getHospitalResult" nillable="true" type="q4:ArrayOfHospitalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getDoctorResult" nillable="true" type="q5:ArrayOfDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDoctorByHospitalId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospital_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDoctorByHospitalIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getDoctorByHospitalIdResult" nillable="true" type="q6:ArrayOfDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAllergies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAllergiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getAllAllergiesResult" nillable="true" type="q7:ArrayOfAllergy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAllergy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="allergy_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAllergyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewAllergyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospitalRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospitalRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getHospitalRecordResult" nillable="true" type="q8:ArrayOfHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospitalRecordByPatientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patient_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospitalRecordByPatientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getHospitalRecordByPatientIDResult" nillable="true" type="q9:ArrayOfHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospitalRecordByHospitalID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospital_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospitalRecordByHospitalIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getHospitalRecordByHospitalIDResult" nillable="true" type="q10:ArrayOfHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospitalRecordByDoctorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctor_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospitalRecordByDoctorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getHospitalRecordByDoctorIDResult" nillable="true" type="q11:ArrayOfHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospitalRecordByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospitalRecordByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getHospitalRecordByDateResult" nillable="true" type="q12:ArrayOfHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewHospitalRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patient_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hospital_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doctor_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diagnose" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewHospitalRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="addNewHospitalRecordResult" nillable="true" type="q13:ArrayOfHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="GetVisitationResult" nillable="true" type="q14:ArrayOfScheduledVisitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitationByPatientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patient_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitationByPatientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="GetVisitationByPatientIDResult" nillable="true" type="q15:ArrayOfScheduledVisitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitationByHospitalID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospital_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitationByHospitalIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="GetVisitationByHospitalIDResult" nillable="true" type="q16:ArrayOfScheduledVisitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitationByDoctorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctor_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitationByDoctorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="GetVisitationByDoctorIDResult" nillable="true" type="q17:ArrayOfScheduledVisitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitationByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitationByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="GetVisitationByDateResult" nillable="true" type="q18:ArrayOfScheduledVisitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewVisitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patient_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hospital_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doctor_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diagnose" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewVisitationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewVisitationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>