Hospital/Personal.Health.Record/Service References/HospitalService/HospitalService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3213/HospitalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hospital.Models" />
  <xs:element name="getPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getPatientResult" nillable="true" type="q1:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserByUsernameAndPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserByUsernameAndPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getUserByUsernameAndPasswordResult" nillable="true" type="q2:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserByEGNAndPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="egn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserByEGNAndPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getUserByEGNAndPasswordResult" nillable="true" type="q3:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospital">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospitalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getHospitalResult" nillable="true" type="q4:ArrayOfHospitalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getDoctorResult" nillable="true" type="q5:ArrayOfDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logonPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patient_username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logonPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logonPatientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospitalRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospitalRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getHospitalRecordResult" nillable="true" type="q6:ArrayOfHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospitalRecordByPatientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHospitalRecordByPatientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hospital.Models" minOccurs="0" name="getHospitalRecordByPatientIDResult" nillable="true" type="q7:ArrayOfHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>